<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ base_url('css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ base_url('css/bootstrap-theme.css') }}"/>
    {% block stylesheet %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ base_url }}home">Chaudfontaine</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            {% if session.userdata.access_token %}
                <ul class="nav navbar-nav">
                    <li><a href="{{ base_url('upload') }}">Send File</a></li>
                </ul>

                <ul class="nav navbar-nav">
                    <li><a href="{{ base_url('download') }}">Download File</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ base_url('logout') }}">Logout</a></li>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ base_url('login') }}">Login/ Registreer</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>

<div class="container-fluid master-body">
    {% if session.flashdata.main_error %}
        <div class="container">
            <div class="alert alert-block alert-danger text-center fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ session.flashdata.main_error }}
            </div>
        </div>
    {% endif %}

    {% if session.flashdata.main_success %}
        <div class="container">
            <div class="alert alert-block alert-success text-center fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ session.flashdata.main_success }}
            </div>
        </div>
    {% endif %}

    {% block content %}

    {% endblock %}
</div>

<script src="{{ base_url('js/jquery-1.12.3.min.js') }}"></script>
<script src="{{ base_url('js/bootstrap.min.js') }}"></script>

{% block jsScript %}
{% endblock %}
</body>
</html>